<header class="header">
    <div class="logo">
        <a href="index.html">
            <img src="images/Imageomics-logo.png" alt="Imageomics Institute logo" />
        </a>
    </div>

    <nav class="nav">
        <ul class="nav-links">
            <li class="dropdown dropdown-about">
                <a>About</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">About Imageomics Institute</span>
                        <a class="dropdown-indent" href="html/about/vision.html">The Vision of the Imageomics Institute</a>
                        <a class="dropdown-indent" href="html/about/community-values.html">Community Values</a>
                        <a class="dropdown-indent" href="html/about/code-of-conduct.html">Code of Conduct</a>
                        <a class="dropdown-indent" href="html/about/imageomics-in-the-news.html">Imageomics In the News</a>
                    </li>
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">Institute Team</span>
                        <a class="dropdown-indent" href="html/about/faculty-staff.html">Institute Faculty &amp; Staff</a>
                        <a class="dropdown-indent" href="html/about/nextgens.html">NextGens</a>
                        <a class="dropdown-indent" href="html/about/collaborators.html">Collaborators</a>
                    </li>
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">Contact Us</span>
                        <a class="dropdown-indent" href="html/about/mailing-list.html">Subscribe to our Mailing List</a>
                        <a class="dropdown-indent" href="html/about/visitors.html">Visitors to Imageomics Institute</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-research">
                <a>Research</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">Research Projects</span>
                        <a href="html/research/projects.html">Research Projects</a>
                    </li>
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">Imageomics Publications</span>
                        <a href="html/research/publications.html">Imageomics Publications</a>
                        <a class="dropdown-indent" href="html/research/publication-acknowledgements.html">Publication Acknowledgements</a>
                    </li>
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">Talks and Presentations</span>
                        <a href="html/research/talks-presentations.html">Talks and Presentations</a>
                    </li>
                </ul>
            </li>
            <li><a href="html/news.html">News</a></li>
            <li><a href="html/events.html">Events</a></li>
            <li class="dropdown dropdown-tools">
                <a>Tools &amp; Resources</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">Policies &amp; Guidelines</span>
                        <a href="html/tools-resources/policies-guidelines.html">Imageomics Policies &amp; Guidelines</a>
                        <a href="html/tools-resources/authorship-guidelines.html">Authorship Guidelines</a>
                        <a href="html/tools-resources/data-code-of-conduct-policy.html">Data Code of Conduct Policy</a>
                        <a href="html/tools-resources/digital-products-release-licensing-policy.html">Digital Products Release and Licensing Policy</a>
                        <a href="html/tools-resources/fieldwork-safety-plan.html">Fieldwork Safety Plan</a>
                    </li>
                    <li class="dropdown-column">
                        <span class="dropdown-column-title">Tools &amp; Learning</span>
                        <a href="html/tools-resources/educational-tools-resources.html">Educational Tools &amp; Resources</a>
                        <a href="html/tools-resources/software-tools-resources.html">Software Tools &amp; Resources</a>
                        <a class="dropdown-indent" href="html/tools-resources/tool-tutorials.html">Tool Tutorials</a>
                        <a href="html/tools-resources/team-science-tools-resources.html">Team Science Tools &amp; Resources</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown dropdown-conference">
                <a>Imageomics Conference</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-column dropdown-conference-tree">
                        <a class="dropdown-root" href="html/conference/overview.html">Conference Overview</a>
                        <a class="dropdown-indent" href="html/conference/resources.html">Conference Resources</a>
                        <a class="dropdown-indent" href="html/conference/accommodations.html">Conference Accommodations</a>
                        <a class="dropdown-indent" href="html/conference/travel-information.html">Conference Travel Information</a>
                        <a class="dropdown-indent dropdown-branch" href="html/conference/agenda.html">Conference Agenda</a>
                        <a class="dropdown-indent-deep" href="html/conference/nextgen-day-agenda.html">NextGen Day Agenda</a>
                        <a class="dropdown-indent-deep" href="html/conference/the-wilds-field-trip-schedule.html">The Wilds Field Trip Schedule</a>
                        <a class="dropdown-indent-deep" href="html/conference/research-lightning-talk-abstracts.html">Research Lightning Talk Abstracts</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="search-container" id="searchContainer">
        <button class="search-icon-btn" id="searchIconBtn" aria-label="Search">
            <img src="images/search.png" alt="Search" />
        </button>
        <input type="text" class="search-bar" id="searchBar" placeholder="Search..." />
        <div class="search-results" id="searchResults"></div>
    </div>

    <div class="header-actions">
        <button class="hamburger" id="hamburger" aria-label="Menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</header>
