<header class="header">
    <div class="logo">
        <a href="index.html">
            <img src="images/Imageomics-logo.png" alt="Imageomics Institute logo" />
        </a>
    </div>

    <nav class="nav">
        <ul class="nav-links">
            <li class="dropdown">
                <a>About</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-parent"><span>About Imageomics Institute</span></li>
                    <li class="dropdown-subitem"><a href="html/about/vision.html">The Vision of the Imageomics Institute</a></li>
                    <li class="dropdown-subitem"><a href="html/about/community-values.html">Community Values</a></li>
                    <li class="dropdown-subitem"><a href="html/about/code-of-conduct.html">Code of Conduct</a></li>
                    <li class="dropdown-subitem"><a href="html/about/imageomics-in-the-news.html">Imageomics In the News</a></li>
                    <li class="dropdown-parent"><span>Institute Team</span></li>
                    <li class="dropdown-subitem"><a href="html/about/faculty-staff.html">Institute Faculty &amp; Staff</a></li>
                    <li class="dropdown-subitem"><a href="html/about/nextgens.html">NextGens</a></li>
                    <li class="dropdown-subitem"><a href="html/about/collaborators.html">Collaborators</a></li>
                    <li class="dropdown-parent"><span>Contact Us</span></li>
                    <li class="dropdown-subitem"><a href="html/about/visitors.html">Visitors to Imageomics Institute</a></li>
                    <li class="dropdown-subitem"><a href="html/about/mailing-list.html">Subscribe to our Mailing List</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a>Research</a>
                <ul class="dropdown-menu">
                    <li><a href="html/research/projects.html">Research Projects</a></li>
                    <li><a href="html/research/publications.html">Imageomics Publications</a></li>
                    <li><a href="html/research/publication-acknowledgements.html">Publication Acknowledgements</a></li>
                    <li><a href="html/research/talks-presentations.html">Talks and Presentations</a></li>
                </ul>
            </li>
            <li><a href="html/news.html">News</a></li>
            <li><a href="html/events.html">Events</a></li>
            <li class="dropdown">
                <a href="html/tools-resources.html">Tools &amp; Resources</a>
                <ul class="dropdown-menu">
                    <li><a href="html/tools-resources/policies-guidelines.html">Imageomics Policies &amp; Guidelines</a></li>
                    <li><a href="html/tools-resources/authorship-guidelines.html">Authorship Guidelines</a></li>
                    <li><a href="html/tools-resources/data-code-of-conduct-policy.html">Data Code of Conduct Policy</a></li>
                    <li><a href="html/tools-resources/digital-products-release-licensing-policy.html">Digital Products Release and Licensing Policy</a></li>
                    <li><a href="html/tools-resources/fieldwork-safety-plan.html">Fieldwork Safety Plan</a></li>
                    <li><a href="html/tools-resources/educational-tools-resources.html">Educational Tools &amp; Resources</a></li>
                    <li><a href="html/tools-resources/software-tools-resources.html">Software Tools &amp; Resources</a></li>
                    <li><a href="html/tools-resources/tool-tutorials.html">Tool Tutorials</a></li>
                    <li><a href="html/tools-resources/team-science-tools-resources.html">Team Science Tools &amp; Resources</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="html/conference.html">Imageomics Conference</a>
                <ul class="dropdown-menu">
                    <li><a href="html/conference/overview.html">Conference Overview</a></li>
                    <li><a href="html/conference/resources.html">Conference Resources</a></li>
                    <li><a href="html/conference/accommodations.html">Conference Accommodations</a></li>
                    <li><a href="html/conference/travel-information.html">Conference Travel Information</a></li>
                    <li><a href="html/conference/agenda.html">Conference Agenda</a></li>
                    <li><a href="html/conference/nextgen-day-agenda.html">NextGen Day Agenda</a></li>
                    <li><a href="html/conference/the-wilds-field-trip-schedule.html">The Wilds Field Trip Schedule</a></li>
                    <li><a href="html/conference/research-lightning-talk-abstracts.html">Research Lightning Talk Abstracts</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="search-container" id="searchContainer">
        <button class="search-icon-btn" id="searchIconBtn" aria-label="Search">
            <img src="images/search.png" alt="Search" />
        </button>
        <input type="text" class="search-bar" id="searchBar" placeholder="Search..." />
        <div class="search-results" id="searchResults"></div>
    </div>

    <div class="header-actions">
        <button class="hamburger" id="hamburger" aria-label="Menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</header>
